<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="ROOT_LOG_LEVEL" value="${ROOT_LOG_LEVEL:-INFO}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="SQL_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [SQL] %-5level %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
        <appender-ref ref="SQL_CONSOLE"/>
    </logger>
    <logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
        <appender-ref ref="SQL_CONSOLE"/>
    </logger>
    <logger name="jdbc.resultsettable" level="TRACE" additivity="false">
        <appender-ref ref="SQL_CONSOLE"/>
    </logger>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.connection" level="OFF"/>

    <root level="${ROOT_LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
